
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* purple #7E5293, green #377A3B, light green #B2D78A */

*{
    margin: 0;
    padding: 0;
    
}


body {
    font-family: Merriweather, serif;
    font-weight: 300;
    color:black;
    overflow-x: hidden;
    font-size: 16px;
}

/* headings */

h1, h2 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #377A3B;
}

h2 {
    font-size: 250%;
    font-weight: 600;
}

h3 {
    font-size: 150%;
    font-weight: 600;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    color: #377A3B;
}

h4 {
    font-size: 100%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    color: #377A3B;


}






/* header and navigation bar */

#container-header {
    display: flex;
}



#logo_holder{
    width: 30%;
    text-align: center;
    display: inline-block;
}

#logo_holder img{
    width: 40%;
    
    margin: auto;
    padding: 10px;
}

#logo_holder a {
    display: block;
    position: relative;
}

#menu_holder{
    display: inline-block;
}


#menu {
    font-size: 110%;
    letter-spacing: 2px;
    
    
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin: 60px 40px 0 0;
}

#menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #377A3B;
    font-weight: 500;
    font-family: Roboto, sans-serif;
}

#menu a:hover {
    color:#B2D78A;
}



/*hero image */

#hero-image {
    background:  linear-gradient(
        rgba(126, 82, 147, 0.40), 
        rgba(0, 0, 0, 0.40) /*https://css-tricks.com/tinted-images-multiple-backgrounds/*/
    ),
     url('../images/hero-image.jpg') no-repeat center center;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-attachment: fixed;
}


#cover-text h2 {
    color: #ffff;
    font-size: 300%;
    letter-spacing: 3px;
    font-weight: bold;

}

#cover-text {
    width: 50%;
    height: 400px;
    margin: 100px 0 0 100px;
    position: absolute;
    line-height: 1.5;
    
}

.hero-button-container {
    padding-top: 10px;
   

}

#cover-text p {
    font-size: 100%;
    letter-spacing: 1px;
    margin-top: 30px;
    color: #ffff;
    
}

.hero-button {
    
    border: none;
    
    width: 30%;
    text-align: center;
    margin-top: 30px;
    background-color: white;
    
    
    
}


.hero-button a {
    color: #377A3B;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    display: block; /*https://www.codecademy.com/forum_questions/536ccab4548c35ad24001a2e*/

}

.hero-button:hover {
    background-color: #B2D78A;
    color: #ffff;
    transform: scale(1.1);

    
}


.hero-button a:hover {
   
    color: #ffff;
}



/*About*/
 
#about-container {
    
    margin-top: 30px;
    height: 600px;
}

#about-container h2 {
    text-align: center;
}


.text-container {
    width: 50%;
    margin-top: 40px;
    float: left;
    line-height: 1.5;
    

}

.text-container h2 {
    text-align: center;
    color: #B2D78A;
}


.text-container p {
    padding: 50px;
    line-height: 2;
    text-align: justify;
}

#img-container {
    width: 50%;
    float: right;
    margin-top: 40px;
    
    text-align: center;

}

#img-container img {
    height: 400px;
    width: 400px;
    margin: auto;
    
    
}



.img-lg {
    box-shadow: 15px 15px #B2D78A; 

}
/* https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_box-shadow */
.button1 {
    background-color: #B2D78A;
    border: none;
    padding: 10px;
    width: 30%;
    text-align: center;
    margin: auto;
    


}

.button1 a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: #ffff;
    text-transform: uppercase;
    
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 600;
    display: block;

}


.button1:hover {
    background-color: #377A3B;
    transform: scale(1.1);
}


/*services */

#services-container {

    width: 100%;
    padding-top: 20px;
    height: 800px;
    background-color: #B2D78A;
}

#services-container h2 {
    text-align: center;
    color: #377A3B;
}

#video-container {
    margin-top: 50px;
}

#video-container h3 {
    margin-top: 20px;
}

#video {
    margin-top: 5%;
    box-shadow: 15px 15px #377A3B;
    width: 560px;
    height: 315px;
    border: none;

}


.button2 {
    background-color: #377A3B;
    border: none;
    padding: 10px;
    width: 30%;
    text-align: center;
    margin: auto;
    


}

.button2 a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: #ffff;
    text-transform: uppercase;
    
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 600;
    display: block;

}


.button2:hover {
    background-color: #fff;
    color: #377A3B;
    transform: scale(1.1);
}

.button2 a:hover {
    color: #377A3B;
    display: block;
}


/* Testimonial Section */

#testimonial-section {
    width: 100%;
    background: linear-gradient(
        rgba(55, 122, 59, 0.40), 
        rgba(0, 0, 0, 0.40) /*https://css-tricks.com/tinted-images-multiple-backgrounds/*/
    ),
     url('../images/sunflower.jpg') no-repeat center center;
    height: 600px;
    padding-top: 30px;
    overflow: hidden;
    background-attachment: fixed;

    
   

}



.testimonial-box {
    width: 20%;
    height: 350px;
    background-color: #fff;
    
    float: left;
    margin: 2%;
    text-align: center;
    

    
}

.testimonial-box p {
    font-style: italic;
    line-height: 1.5;
    
}

.testimonial-heading {
    margin-left: 10%;
    padding-top: 3%;
    padding-bottom: 1%;
    color:#fff;
    text-transform: none;
    font-style: italic;
    
    
    
}


.testimonial-box p {
    padding: 5%;
    
}

.testimonial-box-header {
    background-color: #377A3B;
    width: 100%;
    height: 70px;
   
    

}


.testimonial-box-header h3 {
    color: #fff;
    font-weight: 600;
    padding: 7%;
    letter-spacing: 2px;
}

/*contact section*/

#contact-container {
    width: 100%;
    height: 800px;
    background-color: #fff;
    padding-top: 30px;
}


.contact-information {
    width: 50%;
    margin-top: 10px;
    float: left;
    line-height: 1.5;
    

}

.contact-information-text {
    padding: 5%;
}


.contact-information h2 {
    text-align: center;
    padding-bottom: 4%;
}

#map {
    text-align: center;
    padding: 2%;
}

iframe {
    width: 400px;
    height: 350px;
}

/* form on contact section */

.form-container {
    margin-top: 5%;
    width: 50%;
    float: right;
    
    
}

.form-contact {
    width: 60%;
    background-color: #fff;
    margin: auto;
    padding: 2%;

    border: #B2D78A solid 1px;
    
   
}

.form-contact h4 {
    color: #377A3B;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-size: 100%;
    padding: 3%;
    line-height: 1.5;
}

/* contact form inputs */


input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 16px;
}

input[type=radio] {
    width: 5%;
}

input[type=checkbox] {
    width: 5%;
}

textarea {
    width: 100%;
    height: 100px;
}

.submit-button {
    margin-top: 10px;
    background-color: #377A3B;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    font-size: 110%;
    width: 30%;
    border: none;   

}

.submit-button:hover {
    background-color: #B2D78A;
    transform: scale(1.1);

}
/* footer */


footer {
    width: 100%;
    height: 200px;
    background-color: #7E5293;
    
    
}

footer p {
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    
   
}

footer a {
    color: #fff;
}

.social-networks {
    text-align: center;

}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 300%;
    color: #fff;
    
    padding: 3%;
}

.social-networks i:hover {
    transform: scale(1.2);
}

.copyright-container {
    padding: 2%;
    color: #fff;

}

/*booking form */

#booking-form-bg {
    width: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.20), 
        rgba(0, 0, 0, 0.30) /*https://css-tricks.com/tinted-images-multiple-backgrounds/*/
    ),
     url('../images/trees-background.jpg') no-repeat center center;
    height: 1000px;
    overflow: hidden;
    background-attachment: fixed;
}

#booking-form {
    width: 40%;
    margin: 5%;
    padding: 4%;
    background-color: rgba(55, 122, 59, 0.70);
    
    color: #fff;
}

#booking-form p {
    color: #fff;
    margin-top: 20px;
    font-size: 110%;
}


#booking-form h1 {
    font-size: 250%;
    font-weight: 600;
    color: #fff;
    padding: 5%;
}


#booking{
    width: 70%;
    margin-left: 15%;
    padding-top: 150px;
}


.submit-button-booking {
    border: none;
    background-color: #fff;
    width: 30%;
    color: #377A3B;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 100%;
    
}

.submit-button-booking:hover {
    background-color: #B2D78A;
    transform: scale(1.1);
}


.label-booking {
    color: #fff;
    font-size: 110%;
}

/* form */


form {
    clear: both;
}

/*Media Queries */


/*Media Queries for large screens */

@media screen and (max-width: 1200px) {

    #logo_holder img {
        width: 50%;
    }

    #menu {

        font-size: 100%;
        

    }

    #menu li {
        margin: 60px 30px 0 0;


    }

    #cover-text {
        width: 100%;
        margin: auto;
        padding: 70px 0 70px 0;
        text-align: center;
    }

    #cover-text p {
        
        margin: auto;
        padding: 20px 80px 20px 80px;
        font-size: 17px;
    }

    .hero-button-container {
        margin-top: 20px;
    }

    .hero-button {
        margin: auto;
        width: 20%;
        
    }

    #about-container {
        width: 100%;
        height: 1000px;
    }
    
    
    #services-container {
        margin: auto;
        width: 100%;
        height: 1000px;
    }

    .text-container {
        width: 100%;
        margin: auto;
        
        
    }
    
    .text-container p {
        padding: 50px 80px 50px 80px;
    }

    .button1 {
        width: 20%;

    }

    #img-container {
        width: 100%;
        margin: auto;
        clear: both;


    }

    #img-container img {
        margin-top: 50px;
    }

    #video-container {
        width: 100%;
        margin: auto;
        text-align: center;
        clear: both;

    
    }

    #video {
        text-align: center;
        margin-top: 70px;
        width: 70%;
        display: inline-block;
    }

    #services-container h2 {
        margin-top: 30px;
    }

    .button2 {
        width: 20%;
    }

    #testimonial-section {
        height: 1000px;
        margin: auto;
    }

    .testimonial-box {
        width: 40%;
        margin: 4%;
        
    }

    .testimonial-box-header h3 {
        font-size: 170%;
        padding: 20px;
        
    }

    .testimonial-box p {
        font-size: 120%;
    }

    








    #booking-form-bg {
        padding-top: 50px;

    }


    #booking-form {
        width: 70%;
        margin: auto;
        padding: 30px;
        clear: both;
    }


    






}

/*media queries for tablet */

@media screen and (max-width: 950px) {
    
    #container-header {
        display: block;
    }

    #logo_holder {
        width: 100%;
        clear: both;
        margin: 0 auto;
        padding: 0;
        
    }

    #logo_holder img {
        padding-top: 10px;
        width: 20%;

    }

    #menu_holder {
        width: 100%;

    }

    #menu {
        
        text-align: center;
        margin-bottom: 20px;
        font-size: 100%;
    }

    #menu li {
        margin: 10px 20px 0 0;
        

    }

    #cover-text h2 {
        font-size: 220%;
    }

    .hero-button a, .button1 a, .button2 a {
        font-size: 14px;
    }


    #testimonial-section {
        height: 1000px;
        margin: auto;
    }

    .testimonial-box {
        width: 40%;
        margin: 4%;
    }

    #contact-container {
        width: 100%;
        height: 1500px;
    }

    .contact-information {
        width: 100%;
        margin-top: 10px;
        clear: both;
        
    }
    
    iframe {
        width: 500px;
        height: 450px;
    }

    .form-container {
        width: 100%;
        clear: both;
    }

    .form-contact {
        margin: auto;
    }

}


    @media screen and (max-width: 770px) {
        
        
        #services-container {
            margin: auto;
            width: 100%;
            height: 1150px;
        }

        footer {
            height: 200px;
        }

        footer p {
            font-size: 10px; 

        }

        .testimonial-box p {
            font-size: 100%;
        }

        #about-container {
            height: 1000px;
        
        
        }

        .hero-button a, .button1 a, .button2 a {
            font-size: 12px;
        }

        
    

    }

    @media screen and (max-width: 600px) {

        #menu {
            font-size: 90%;

        }

        

        #about-container {
            height: 1000px;
        }

        .text-container p {
            padding: 30px;
            line-height: 2;
        }

        #services-container {
            height: 1100px;
        }

        .hero-button, .button1, .button2 {
            width: 30%;
        }

        .testimonial-box p {
            font-size: 90%;
        }


        .submit-button-booking {
            font-size: 80%;


        }

        iframe {
            width: 300px;
            height: 250px;
        }


}

@media screen and (max-width: 480px) {

    #hero-image {
        height: 750px;
    }

    #cover-text {
        padding: 20px 0 20px 0;
        text-align: center;
        margin: 0;
    }

    #cover-text h2 {
        font-size: 200%;
    }




    #about-container {
        height: 1100px;
        
    }

    

    #services-container {
        height: 1250px;
    }

    .testimonial-box {
        width: 60%;
        margin: 10px 100px 10px 100px;
        
        
    }

    #testimonial-section {
        width: 100%;
        height: 1700px;
        
    }










}







/* for large to medium screen sizes*/

/*@media screen and (max-width: 1200px) {
    
    #cover-text {
        width: 100%;
        margin: auto;
        padding: 70px 0 70px 0;
        text-align: center;
    }

    #cover-text p {
        
        margin: auto;
        padding: 20px 50px 20px 50px;
    }

    .hero-button-container {
        margin-top: 20px;
    }

    .hero-button {
        margin: auto;
        width: 20%;
    }



    
    #about-container {
        width: 100%;
        height: 1000px;
    }
    
    
    
    #services-container {
        margin: auto;
        width: 100%;
        height: 1000px;
    }

    .text-container {
        width: 100%;
        margin: auto;
        
    }

    .button1 {
        width: 20%;

    }

    #img-container {
        width: 100%;
        margin: auto;
        clear: both;


    }

    #img-container img {
        margin-top: 50px;
    }

    #video-container {
        width: 100%;
        margin: auto;
        text-align: center;
        clear: both;

    
    }

    #video {
        text-align: center;
        margin-top: 70px;
        width: 70%;
        display: inline-block;
    }

    #services-container h2 {
        margin-top: 30px;
    }

    .button2 {
        width: 20%;
    }

    #booking {
        width: 100%;
        margin: auto;
    }



    

}


/*
@media screen and (max-width: 950px) {

    #container-header {
        display: block;
    }

    #logo_holder {
        width: 100%;
        clear: both;
        margin: 0 auto;
        padding: 0;
        
    }

    #logo_holder img {
        padding-top: 10px;
        width: 20%;

    }

    #menu {
        text-align: center;
        margin-bottom: 20px;
        font-size: 100%;
    }

    #menu li {
        margin: 10px 20px 0 0;

    }

    #cover-text h2 {
        font-size: 220%;
    }

    #testimonial-section {
        height: 1000px;
        margin: auto;
    }

    .testimonial-box {
        width: 40%;
        margin: 4%;
    }
    



