
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* purple #7E5293, green #377A3B, light green #B2D78A */

*{
    margin: 0;
    padding: 0;
    
}


body {
    font-family: Merriweather, serif;
    font-weight: 300;
    color:black;
}

/* headings */

h1, h2 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #377A3B;
}

h2 {
    font-size: 250%;
    font-weight: 600;
}

h3 {
    font-size: 150%;
    font-weight: 600;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    color: #377A3B;
}

/* header and navigation bar */

#container-header {
    display: flex;
}



#logo_holder{
    width: 30%;
    text-align: center;
    display: inline-block;
}

#logo_holder img{
    width: 170px;
    height: 100px;
    margin: auto;
    padding: 10px;
}

#logo_holder a {
    display: block;
    position: relative;
}

#menu_holder{
    display: inline-block;
}


#menu {
    font-size: 110%;
    letter-spacing: 2px;
    
    
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin: 60px 40px 0 0;
}

#menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #377A3B;
    font-weight: 500;
    font-family: Roboto, sans-serif;
}

#menu a:hover {
    color:#B2D78A;
}



/*hero image */

#hero-image {
    background:  linear-gradient(
        rgba(126, 82, 147, 0.40), 
        rgba(0, 0, 0, 0.40) /*https://css-tricks.com/tinted-images-multiple-backgrounds/*/
    ),
     url('../images/hero-image.jpg') no-repeat center center;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-attachment: fixed;
}


#cover-text h2 {
    color: #ffff;
    font-size: 300%;
    letter-spacing: 3px;
    font-weight: bold;

}

#cover-text {
    width: 50%;
    height: 400px;
    margin: 100px 0 0 100px;
    position: absolute;
    line-height: 1.5;
    
}

#cover-text p {
    font-size: 100%;
    letter-spacing: 1px;
    margin-top: 30px;
    color: #ffff;
    
}

.hero-button {
    
    border: none;
    
    width: 30%;
    text-align: center;
    margin-top: 30px;
    background-color: white;
    
    
    
}


.hero-button a {
    color: #377A3B;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    display: block; /*https://www.codecademy.com/forum_questions/536ccab4548c35ad24001a2e*/

}

.hero-button:hover {
    background-color: #B2D78A;
    color: #ffff;

    
}


.hero-button a:hover {
   
    color: #ffff;
}



/*About*/
 
#about-container {
    
    margin-top: 30px;
    height: 600px;
}

#about-container h2 {
    text-align: center;
}


.text-container {
    width: 50%;
    margin-top: 40px;
    float: left;
    line-height: 1.5;
    

}

.text-container h2 {
    text-align: center;
    color: #B2D78A;
}


.text-container p {
    padding: 50px;
}

#img-container {
    width: 50%;
    float: right;
    margin-top: 40px;
    
    text-align: center;

}

#img-container img {
    height: 400px;
    width: 300px;
    margin: auto;
    
    
}



.img-lg {
    box-shadow: 15px 15px #B2D78A; 

}
/* https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_box-shadow */
.button1 {
    background-color: #B2D78A;
    border: none;
    padding: 10px;
    width: 30%;
    text-align: center;
    margin: auto;
    


}

.button1 a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: #ffff;
    text-transform: uppercase;
    
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 600;
    display: block;

}


.button1:hover {
    background-color: #377A3B;
}


/*services */

#services-container {

    height: 600px;
    background-color: #B2D78A;
}

#services-container h2 {
    text-align: center;
    color: #377A3B;
}

#video-container {
    margin-top: 50px;
}



#video {
    margin-top: 50px;
    box-shadow: 15px 15px #377A3B;

}


.button2 {
    background-color: #377A3B;
    border: none;
    padding: 10px;
    width: 30%;
    text-align: center;
    margin: auto;
    


}

.button2 a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: #ffff;
    text-transform: uppercase;
    
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 600;
    display: block;

}


.button2:hover {
    background-color: #fff;
    color: #377A3B;
}

.button2 a:hover {
    color: #377A3B;
    display: block;
}

#testimonial-section {
    width: 100%;
    height: 500px;
    background-color: #fff;
   

}

#testimonials-section h2 {
    margin-top: 40px;

}



#testimonials-section .testimonial-box {
    float: left;
    


}
.testimonial-box {
    width: 20%;
    height: 300px;
    background-color: #fff;
    box-shadow: 10px 10px #B2D78A;
    float: left;
    margin: 30px;
    text-align: center;
    border: #377A3B 1px solid;
}



#contact-container {
    width: 100%;
    height: 700px;
    background-color: #fff;
}

#form-contact {
    width: 50%;
    background-color: #fff;
    float: right;
   
}

/* footer */

footer {
    width: 100%;
    height: 250px;
    background-color: #7E5293;
    
}

.social-networks {
    text-align: center;
}


/*booking form */

form {
    clear: both;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#booking{
    width: 70%;
    margin-left: 15%;
    padding-top: 150px;
}











/* form */


form {
    clear: both;
}

/*button {
    background-color: #ffff;
    color: #377A3B;
    width: 60px;
    height: 30px;
    padding: 10px 30px 10px 30px;
    margin: auto;
}
*/


/*#menu_holder li {
    
    display: inline-block;
    list-style-type: none;
    margin-right: 50px;
    text-align: center;
    
}

#menu_holder a {
    text-decoration: none;
    color: #377A3B;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: 400;

}

#menu_holder a:hover {
    
    color: #B2D78A;
    

}
*/
/*#logo img {
    float: left;
    width: 180px;
    height: 110px;
    margin-left: 100px;
    
}
*/

/*#menu, #logo {
    line-height: 75px;

}
*/